/*
colors used:
1 (vivid green): rgba(178, 231, 116, 1);
2 (medium green): rgba(85, 173, 125, 1);
3 (dry green): rgba(106, 123, 118, 1);
4 (grey): rgba(152, 152, 153, 1);
text color (black): rgba(49, 50, 49, 1);
background color (light beije): rgba(250, 250, 250, 1);
*/
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(250, 250, 250, 1);
  color: #313231;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h3, h4 {
  line-height: 1.2;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.3em;
  font-weight: 800;
  line-height: 1;
  margin: 1em 0 0.5em;
}

h2 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2em;
  font-weight: 700;
  margin: 1em 0 0.3em;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin: 1em 0 0.3em;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2.5em 0 1em;
}

p {
  margin: 0 0 1.5em;
}

.hero h1 span {
  font-size: 55%;
  display: block;
  margin: 0.7em 0 1em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

/* pictures and icons sizes */
img {
  width: 100%;
  margin: 1.5em 0 0;
}

/* unvisited link */
a {
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

/* mouse over link */
a:hover,
a:focus {
  text-decoration: none;
  color: rgba(49, 50, 49, 1);
  background: rgba(178, 231, 116, 1);
}

/* selected link */
a:active {
  color: rgba(49, 50, 49, 1);
  background-color: rgba(178, 231, 116, 1);
}

/* Buttons */
a.button {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(178, 231, 116, 1);
  color: rgba(49, 50, 49, 1);
  font-weight: 600;
  padding: 14px 24px;
  margin: 0px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: opacity;

}

.button:visited {
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
}

.button:hover, .button:focus {
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
  background-color: rgba(178, 231, 116, 0.7);
  opacity: 0.8;
}

.button:active {
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
  background-color: rgba(178, 231, 116, 0.7);
}

.button.contact {
  background-color: transparent;
  color: rgba(85, 173, 125, 1);
  text-transform: uppercase;
  border: 2px solid rgba(85, 173, 125, 1);
}

.button.contact:visited {
  background-color: transparent;
  color: rgba(85, 173, 125, 1);
  text-decoration: none;
}

.button.contact:hover, .button.contact:focus {
  background-color: rgba(178, 231, 116, 0.3);
  color: rgba(85, 173, 125, 1);
}

.button.contact:active {
  background-color: rgba(178, 231, 116, 0.3);
  color: rgba(85, 173, 125, 1);
  text-decoration: none;
}

/*Layout styling*/
.container {
  padding: 0 20px;
}

header {
  background-color: rgba(250, 250, 250, 1);
  text-align: center;
  padding: 10px 0 20px;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.15);
}

.logo {
  max-width: 150px;
  margin: 1em 20px;
}

/*Navigation Bar Styling*/
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

nav>ul>li>a:hover, nav>ul>li>a:focus {
  background-color: transparent;
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: rgba(49, 50, 49, 1);
}

/*Main Section*/
main {
  padding-top: 118px;
}

/*Hero Section Styling*/
#hero {
  background-color: rgba(152, 152, 153, 0.1);
  display: inline-block;
  width: 100%;
  padding: 1.5em 20px 2em;
}

#hero h1 {
  text-align: left;
}

/*Work Section Styling*/
#work .row {
  margin: 0 0 3.5em;
}

.project_role {
  color: rgba(49, 50, 49, 0.5);
}

/*About me page*/
#about_me_content .column {
  margin: 20px 0 40px 0;
}

/* Projects' page*/

.project_page main .row {
  margin: 0 0 3em;
}

.project_page main .row li{
  margin: 1em 0;
}


/*footer section Styling*/
footer {
  background-color: rgba(152, 152, 153, 0.1);
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 20px 0;
}

footer li {
  display: inline-block;
  margin: 10px;
}

/*Social media styling*/
footer svg {
  width: 3em;
}

footer a:hover svg {
  fill: rgba(85, 173, 125, 1);
}

footer a:hover, footer a:focus {
  background-color: transparent;
}

footer h2 {
  margin: 1em 0 0;
}


@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}




/* Nav animation - Brackets go out */

div.brackets a:before, div.brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before
{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after
{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}



/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {

    .logo {
      max-width: 150px;
      margin: 1em 40px;
      }

    body {
      font-size: 16px;
      }

    header {
      text-align: unset;
      padding: 15px 0 5px;
    }

    nav {
      width: auto;
      float: right;
      margin: 1em;
    }

    main {
      padding: 87px 0 0;
    }

    .container {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 40px;
    }

    h2 {
      margin: 1em 0 0.5em;
    }

    #hero h1{
      text-align: center;
    }

    .hero h1 span {
      text-align: center;
    }

    .hero p {
      text-align: center;
    }

    .col-lg-4 {
      width: 33.33%;
    }

    .col-md-6 {
      width: 50%;
    }

    [class*="col-"] {
      float: left;
    }

    .column_2{
      padding: 0 30px;
    }

    .row:after {
      content: "";
      clear: both;
      display: table;
    }

  }



@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
  }

  main {
    padding: 87px 0 0;
  }

  .container {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;

  }

  #hero {
    padding: 1.5em 0 2em;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-4 {
    width: 33.33%;
  }


  [class*="col-"] {
    float: left;
  }

  .column_2{
    padding: 0 30px;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

}


@media only screen and (min-width: 1440px) {

}
