/*
colors used:
1 Accent (vivid orange): rgba(252, 82, 82, 1);
2 Text dark BLUE (dark blue): rgba(52, 64, 85, 1);
2 Text light (medium grey): rgba(241, 241, 241, 1);
3 light background (light grey): rgba(253, 253, 253, 1);
4 medium background (medium grey): rgba(241, 241, 241, 1);
5 Dark BLUE background (dark BLUE): rgba(36, 42, 56, 1)

6 Blue: rgba(228, 241, 250, 1);

*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(253, 253, 253, 1);
  color: rgba(51, 51, 51, 1);
  font-size: 1rem;
  word-spacing: -1px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 145%;
  min-height: 200vh;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.4em;
  font-weight: 800;
  line-height: 110%;
  margin: 0 0.8em 1.2em 0;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  font-variant-caps: all-small-caps;
  letter-spacing: 2px;
  margin: 0.5em 0 2em;
  color: rgba(106, 98, 193, 1);
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 120%;
  margin: 0 0 0.6em;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  font-style: italic;
  line-height: 140%;
  margin: 0 0 3em;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  font-style: italic;
  margin: 1em 0 2em;
}

p {
  line-height: 145%;
  margin: 0 0 1.4em;
  font-size: 1em;
}

ol {
  margin: 0 0 3em;
}

#logo {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  word-spacing: 4px;
  margin: 1em 0 0;
  color: white;
}

#logo span {
  font-weight: 700;
  letter-spacing: 2px;
}

#positioning {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8em;
  line-height: 0.3em;
  text-decoration: none;
  margin: 0;
  color: white;
  font-weight: 400;
}

#myNavtoggle ul {
  padding: 18px 0 0;
}

#work h2 {
  margin: 0;
  padding: 20px 30px;
  color: rgba(52, 64, 85, 1);
  font-size: 1.2em;
}

#work h3 {
  margin: 0 0 0.6em;
  font-weight: 800;
  line-height: 110%;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.hero h1 span {
  font-weight: 100;
}

/* pictures and icons sizes */
img {
  width: 100%;
  margin: 0;
  border-radius: 0;
  border: solid 1px rgba(237, 237, 237, 1);
}

div#picture_hero {
  line-height: 0;
}

.hero img {
  border-radius: 0;
}

#work img {
  margin: -1px 0 0;
  border-radius: 0;
  display: flex;
}

#hero_picture img {
  margin: 0;
  border-radius: 100%;
  height: 130px;
  width: 130px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: transparent;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  margin: 15px 0 0 -33px;
  width: 50px;
  height: 50px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  padding: 10px;
  font-size: 2em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  color: rgba(106, 98, 193, 1);
}

.row img {
  margin: 0;
}

.issue {
  margin: 4em 0 8em;
}

/* unvisited link */
a {
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

/* mouse over link */
a:hover,
a:focus {
  text-decoration: none;
  color: rgba(49, 50, 49, 1);
  background: underline;
}

/* selected link */
a:active {
  color: rgba(49, 50, 49, 1);
  background-color: none;
}

/* Buttons */
a.button {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(253 253 253);
  color: rgba(51, 51, 51, 1);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 14px 27px;
  margin: 0 0 0 -3px;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 50px;
  transition-duration: 0.9s;
  transition-property: opacity;
}

.button:visited {
  color: none;
  text-decoration: none;
}

.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
  background-color: rgba(106, 98, 193, 1);
  border: 1px solid rgba(106, 98, 193, 1);
  opacity: 0.6;
}

.button:active {
  color: white;
  text-decoration: none;
  background-color: rgba(106, 98, 193, 1);
  border: 1px solid rgba(106, 98, 193, 1);
}

.button.contact {
  background-color: transparent;
  color: rgb(253 253 253);
  border: solid 1px;
  font-size: 1.2em;
  text-transform: none;
  padding: 20px 48px;
  margin: 2.5em 0 5em;
}

.button.contact:active {
  background-color: rgba(228, 241, 250, 1);
  color: rgb(255 255 255);
  text-decoration: none;
}

.button.contact:hover,
.button.contact:focus {
  color: white;
  background-color: rgba(57, 69, 91, 1);
}

a.button_hero {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(106, 98, 193, 1);
  color: white;
  font-size: 1.5em;
  line-height: 110%;
  font-weight: 300;
  text-align: center;
  padding: 26px 0;
  width: 130px;
  height: 130px;
  margin: 0 0.5em;
  border-radius: 100%;
  transition-duration: 0.9s;
  transition-property: opacity;
}

.button_hero:hover,
.button_hero:focus {
  color: white;
  text-decoration: none;
  background-color: rgba(255, 95, 95, 1);
  opacity: 0.6;
}


/* blockquotes */
blockquote {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 140%;
  padding: 0 0 0 1em;
  border-left: 4px solid rgba(252, 82, 82, 1);
  margin: 2.5em 0;
}

/* Layout project Overview */

.container {
  padding: 4em 40px;
}

#project_overview {
  background: rgba(230, 230, 230, 1);
}

#project_overview ul {
  padding: 0 0 0 15px;
  margin: 0.5em 0 0;
}

#role p {
  margin: 0.4em 1em 4em 0;
  font-size: 16px;
}

#the_process {
  background: rgba(253, 253, 253, 1);
}

#kick_off {
  background: rgba(241, 241, 241, 1);
}

#Some_Context {
  background: rgba(253, 253, 253, 1);
}

#Market_Research {
  background: rgba(253, 253, 253, 1);
}

#user_research {
  background: rgba(241, 241, 241, 1);
}

#Research_Analysis {
  background: rgba(253, 253, 253, 1);
}

#Persona_Narrative {
  background: rgba(241, 241, 241, 1);
}

#Ideation {
  background: rgba(244, 244, 244, 1);
}

#sitemap_card_sorting {
  background: rgba(253, 253, 253, 1);
}

#wireframing_prototyping {
  background: rgba(241, 241, 241, 1);
}

#usability_testing {
  background: rgba(253, 253, 253, 1);
}

#final_thoughts {
  background: rgba(241, 241, 241, 1);
}

#Mockups {
  background: rgba(241, 241, 241, 1);
}

#Interactive_Prototype {
  background: rgba(253, 253, 253, 1);
}

/* Layout styling */

#role {
  background: rgba(241, 241, 241, 1);
}

#inspiration {
  background: rgba(244, 244, 244, 1);
}

#conceptualization {
  background: rgba(253, 253, 253, 1);
}

#iteration {
  background: rgba(253, 253, 253, 1);
}

#showcase {
  background: rgba(253, 253, 253, 1);
}

#interactive_prototype {
  background: rgba(244, 244, 244, 1);
}

#conclusion {
  background: rgba(253, 253, 253, 1);
}

#problem_statement {
  background-color: rgba(41, 41, 41, 1);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding: 7em 40px 8em;
  text-align: center;
}

#problem_statement p {
  color: rgba(238, 234, 234, 1);
  line-height: 145%;
  margin: 1em 0;
  font-style: italic;
}

#problem_statement ol {
  color: rgba(238, 234, 234, 1);
  font-size: 1em;
  font-weight: 500;
  line-height: 140%;
  padding: 1em;
  text-align: center;
  margin: 0;
  display: inline-block;
  inline-size: 350px;
  font-style: italic;
}

#problem_statement h2 {
  color: rgba(238, 234, 234, 1);
  font-size: 21.6px;
  margin: 0;
}

#questions_insights {
  background-color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 145%;
  padding: 1.8em 2em 2em;
  margin: 1.2em 0;
  text-align: left;
  border: solid 1px rgba(237, 237, 237, 1);
}

#issues {
  background-color: rgb(255 217 209);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 145%;
  padding: 1.8em 2em 2em;
  margin: 1.2em 0.5em;
  text-align: left;
}

#solutions {
  background-color: rgba(107, 204, 170, 0.4);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 145%;
  padding: 1.8em 2em 2em;
  margin: 1.2em 0.5em;
  text-align: left;
}

header {
  background-color: rgba(41, 41, 41, 1);
  text-align: left;
  padding: 42px 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 10px 0 transparent;
  line-height: 1.2em;
  transition: top 1.3s; /* Transition effect when sliding down (and up) */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: -3px;
  font-size: 1.6em;
  padding-right: 0.3em;
}

header a:hover,
header a:focus {
  background-color: transparent;
}

.logo {
  max-width: 150px;
  margin: 1.5em 0 0.4em;
}

/* Navigation Bar Styling */
header .container {
  padding: 0 30px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 5em 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 2em 0;
  border-top: 2px solid rgba(106, 123, 118, 0.1);
}

.navtoggle.responsive li:last-child {
  padding: 0;
  border-top: none;
}

nav > ul {
  list-style-type: none;
  margin: -1.2em 0 0;
}

nav > ul > li > a {
  padding: 0 0 0 36px;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: rgba(106, 98, 193, 1);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

nav > ul > li > a:active {
  color: rgba(252, 82, 82, 1);
  text-decoration-line: underline;
}

/* Main Section */
main {
  padding-top: 0;
}

/* Hero Section Styling */
#hero {
  background-color: rgba(230, 230, 230, 1);
  display: inline-block;
  width: 100%;
  padding: 12em 0 8em;
}

#hero .container {
  padding: 0 30px;
}

#hero {
  padding-bottom: 25px;
}

#hero p {
  color: rgba(51, 51, 51, 1);
  font-size: 1.1em;
  margin: 0;
}

#hero h1 {
  text-align: left;
  font-size: 3.8em;
  font-weight: 900;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  margin: 0 0 0.3em;
  padding: 0 0 0.3em;
  border-bottom: 1px solid rgba(51, 51, 51, 1);
}

#project_hero {
  background: rgba(230, 230, 230, 1);
  color: rgba(51, 51, 51, 1);
  padding: 14em 40px 8em;
}

.container_hero {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#project_hero h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 800;
  line-height: 110%;
  margin: 0;
  padding: 20px 20px 18px;
  border: solid 1px;
}

#project_hero p {
  text-align: left;
  font-size: 1em;
  line-height: 140%;
  margin: 0;
  padding: 20px 20px 23px;
  border: solid 1px;
  border-top: none;
}

.row {
  margin: 0;
}

.column {
  margin: 0;
}

.column_2 {
  margin: 0 0 6em;
}

.card_column {
  margin: 0 0 5em;
}

.card_row {
  margin: 0 0 5em;
}

.card h3 {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: unset;
  color: rgba(51, 51, 51, 1);
  margin: 0.3em 0;
}

.card p {
  font-size: 0.9em;
  margin: 0;
}

.card img {
  margin: 1em 0;
}

/* Work Section Styling */
#work .container {
  padding: 0;
}

#work .row {
  padding: 10px 0 0;
}

.project_role {
  color: rgba(49, 50, 49, 0.5);
  font-size: 0.8em;
  font-weight: 400;
  margin: -0.5em 0 2em;
}

/* About me page */

main .column ul {
  margin: 0 2em 2em 0;
  padding-inline-start: 18px;
}

main .column li {
  margin: 2em 0;
}

#about img {
  padding: 0 10em 0 0;
}

#about_me_content h2 {
  margin: 0 0 1em;
}

#about .row {
  margin: 4em 0 0;
}

/* Projects' page */
.row {
  padding: 0;
}

.row_2 {
  margin: 0 0 4em;
}

#work .row:last-child {
  margin-bottom: 10em;
}

main .row li {
  margin: 0 0 0.6em;
}

/* footer section Styling */

footer .container {
  max-width: 100%;
  padding: 6em 0 0;
}

footer {
  color: rgba(238, 234, 234, 1);
  background-color: rgba(29, 29, 29, 1);
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 1.5em 0 6em;
}

footer li {
  display: inline-block;
  margin: 3px;
}

/* Social media styling */
footer svg {
  display: inline-flex;
  width: 3em;
  fill: rgba(32, 31, 49, 1);
}

footer a {
  color: rgba(37, 40, 62, 1);
}

footer a:hover svg {
  fill: rgba(37, 40, 62, 0.5);
}

footer a:hover,
footer a:focus {
  background-color: transparent;
  color: rgba(57, 69, 91, 1);
}

footer h1 {
  color: rgba(238, 234, 234, 1);
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 4em;
  font-variant: normal;
  line-height: 90%;
  margin: 0 0 20px;
  padding: 0 30px;
}

footer h5 {
  font-size: 1em;
  margin: 1em 0;
  color: rgba(32, 31, 49, 1);
}

footer p {
  font-size: 1.2em;
  margin: 0.4em 2em 0;
  line-height: 130%;
  font-weight: 400;
}

footer [class*="col-"] {
  padding: 0;
}

#footer_2 {
  background-color: rgba(106, 98, 193, 1);
  padding: 3em 2em;
}

#mail {
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0;
  display: inline-block;
}

/* Graphic design styling */

#design_project {
  padding: 0 0 1em;
}

#design_project h1 {
  font-size: 1.8em;
  margin: 0.3em 0 0.1em;
}

#design_project_page .container {
  padding: 9em 30px 4em;
}

#design_project_page .row {
  margin: 0 0 3em;
}

#design_project_page .row img {
  line-height: 0;
  margin: 1em 0;
  border-radius: 0;
  border: 0;
}

#design_project_page h3 {
  margin: 0 0 0.4em;
}

#design_project_page h3 {
  margin: 0 0 0.4em;
}

dl {
  margin: 0;
}

/* BACK TO TOP BUTTON */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: solid 2px; /* borders */
  outline: none; /* Remove outline */
  background-color: rgba(33, 40, 54, 0.3); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px 10px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 1.6em; /* Increase font size */
}

#myBtn:hover {
  background-color: rgba(33, 40, 54, 1); /* Add a dark-grey background on hover */
}

/* PREVIOUS & NEXT */
#previous_next {
  background-color: transparent; /* Set a background color */
  border: solid 2px rgba(33, 40, 54, 1); /* borders */
  color: rgba(33, 40, 54, 1);
}

#previous_next:hover {
  background-color: rgba(33, 40, 54, 1); /* Add a dark-grey background on hover */
  color: white;
}

#previous_next_row {
  padding: 10px 30px 10px 0;
}

.column_hero_0 {
  padding: 0;
  margin: 0;
}

.column_hero_1 {
  padding: 0 1em 0 0;
  margin: 0;
}

.column_hero_2 {
  padding: 0 0 0 2em;
  margin: 0;
  border-left: 1px solid;
}

.column_hero_3 {
  margin: 0;
  display: none;
}

.column_hero_4 {
  margin: 7em 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#hero .row {
  display: flex;
}

#hero_row .row {
  display: flex;
  justify-content: space-between;
}

.column_3 {
  padding: 36px 30px 90px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 764px) {
  .logo {
    max-width: 150px;
    margin: 1em 0;
  }

  header {
    text-align: unset;
    padding: 15px 0 12px;
  }

  #logo {
    font-size: 1em;
    text-decoration: none;
    margin: 0.1em 0 0;
  }

  nav {
    width: auto;
    float: right;
    margin: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    font-size: 0.8em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding: 0;
  }

  #hero_picture img {
    margin: 0;
    border-radius: 100%;
    height: 130px;
    width: 130px;
  }

  #role .row {
    padding: 0;
  }

  .column_3 {
    padding: 40px 45px 15px;
    margin: -1px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .row {
    padding: 0;
  }

  .row img {
    margin: 0;
  }

  .card img {
    margin: 1em 0 0;
  }

  #left_aligned {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  #work .container {
    padding: 0;
    display: flex;
  }

  #work .row {
    padding: 0 30px;
    margin: 9em 0;
  }

  #work h2 {
    margin: ;
  }

  .project_role {
    font-size: 0.8em;
    margin: -0.5em 0 2.4em;
  }

  header .container {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  .container {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding: 8em 30px 10em;
  }

  main .row li {
    margin: 1em 0;
  }

  [class*="col-"] {
    float: left;
  }

  .button.contact {
    margin: 1.5em 0 5em;
  }

  h1 {
    font-size: 2em;
    line-height: 110%;
  }

  h2 {
    font-size: 1.2em;
    margin: 0 0 2em;
  }

  h3 {
    font-size: 1.1em;
    margin: 0 0 1.1em;
  }

  h4 {
    font-size: 0.5em;
    margin: 0.5em 0 1em;
  }

  p {
    line-height: 155%;
    margin: 0 0 1.4em;
    font-size: 1em;
  }

  .work p {
    font-size: 1.2em;
    line-height: 145%;
  }

  footer svg {
    width: 2.3em;
  }

  #hero {
    padding: 12em 0 8em;
  }

  #project_hero {
    padding: 10em 40px;
  }

  .container_hero {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.4em 0;
  }

  #hero h1 {
    text-align: left;
    font-size: 5.4em;
  }

  .hero h1 {
    text-align: left;
    margin: 0 1em 0.5em 0;
  }

  #hero p {
    text-align: left;
    margin: 0;
    font-size: 1.1em;
  }

  .column_hero_3 {
    margin: 0 0 -0.5em 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
  }

  .column_hero_4 {
    margin: 0;
    display: none;
  }

  footer h2 {
    font-size: 2.3em;
  }

  footer h5 {
    font-size: 0.8em;
    margin: 1em 0;
  }

  footer .row {
    padding: 1em;
  }

  footer ul {
    margin: 0;
  }

  #about img {
    padding: 0 5em 0 0;
    border: 0;
  }

  #project_hero p {
    text-align: left;
    margin: 0;
    font-size: 1.2em;
    line-height: 140%;
    font-weight: 400;
  }

  #project_hero h1 {
    text-align: left;
    font-size: 2em;
    font-weight: 800;
    line-height: 115%;
    margin: 0;
  }

  #project_hero .column_2 {
    padding: 0 40px 0 0;
  }

  #problem_statement p {
    line-height: 150%;
    margin: 1em 0;
    display: inline-block;
    inline-size: 540px;
  }

  #problem_statement ul {
    color: white;
  }

  #design_project {
    padding: 0 0 4.6em;
  }

  #design_project .container {
    padding: 92px 0 124px;
  }

  #design_project h1 {
    font-size: 1.2em;
    margin: 0.5em 1em 0 0;
  }

  #design_project p {
    margin: 0.5em 0 0;
    line-height: 135%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #footer_2 {
    padding: 1.3em 2em 1.2em;
  }

  #mail {
    font-size: 0.9em;
    margin: 1em 0;
  }

  a.button_hero {
    font-size: 1.5em;
    line-height: 110%;
    font-weight: 300;
    text-align: center;
    padding: 30px 0;
    width: 130px;
    height: 130px;
    margin: 0.3em 0 0;
    border-radius: 100%;
    transition-duration: 0.9s;
    transition-property: opacity;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.33%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: px;
    line-height: %;
  }

  h1 {
    font-size: 2.4em;
    margin: -0.1em 2em 1em 0;
  }

  h2 {
    margin: 0 0 2em;
  }

  h4 {
    font-size: 0.8em;
  }

  main {
    padding: 0;
  }

  header .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.33%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  a.button_hero {
    font-size: 1.7em;
    padding: 36px 0;
    width: 150px;
    height: 150px;
    margin: 0.5em 0 0;
  }

  #hero h1 {
    text-align: left;
    font-size: 7.5em;
    margin: 0 0 0.3em;
    line-height: 85%;
  }

  #problem_statement p {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 140%;
    margin: 1em;
    display: inline-block;
    inline-size: 700px;
  }

  #hero_picture img {
    margin: 0;
    border-radius: 100%;
    height: 150px;
    width: 150px;
  }

  #work h3 {
    margin: -5px 0 0.4em;
    font-weight: 800;
    line-height: 110%;
    font-size: 2em;
    letter-spacing: 1px;
  }

  #work p {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1440px) {
  header .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero h1 {
    text-align: left;
    font-size: 8em;
    margin: 0 0 0.3em;
    line-height: 85%;
  }

  #problem_statement p {
    line-height: 130%;
    margin: 1em;
    display: inline-block;
    inline-size: 700px;
  }

  #hero_picture img {
    margin: 0;
    border-radius: 100%;
    height: 190px;
    width: 190px;
  }

  #hero .container {
    padding: 0;
  }

  a.button_hero {
    font-size: 2em;
    padding: 43px 0;
    width: 190px;
    height: 190px;
    margin: 0.4em 0 0;
  }
}

/* PROGRESS BAR */
#scroll-progress {
  position: fixed;
  bottom: 0;
  width: 0%;
  height: 6px;
  background: rgba(106, 98, 193, 1);
  z-index: 10000;
}
