/*
colors used:
1 (vivid green): rgba(178, 231, 116, 1);
2 (medium green): rgba(85, 173, 125, 1);
3 (dry green): rgba(106, 123, 118, 1);
4 (grey): rgba(152, 152, 153, 1);
text color (black): rgba(49, 50, 49, 1);
background color (light beije): rgba(253, 253, 253, 1);
*/
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(253, 253, 253, 1);
  color: #313231;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 130%;
  margin: 1em 0 0.5em;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  font-variant-caps: all-small-caps;
  margin: 1em 0;
  color: rgba(252, 82, 82, 1);
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.6em;
  font-weight: 800;
  line-height: 120%;
  margin: 3em 0 0.5em;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  font-weight: 800;
  line-height: 140%;
  margin: 3em 0 0.5em;
}

h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin: 1em 0 2em;
}

p {
  margin: 0 0 2em;
  line-height: 155%;
}

#logo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  margin: 1em 0 0;
}

#myNavtoggle ul {
  padding: 0;
}

#hero {
  padding-bottom: 25px;
}

#work h2 {
  margin: 1.5em 0 0;
  color: rgba(49, 50, 49, 1);
  font-size: 1.4em;
}

#work h3 {
  margin: 0 0 0.6em;
  font-size: 1.7em;
}

#work .row p {
  margin: 0 0 1em;
}

.hero h1 span {
  color: rgb(252, 82, 82, 1);
}

/* pictures and icons sizes */
img {
  width: 100%;
  margin: 0;
  border-radius: 8px;
}

.hero img {
  border-radius: 0;
}

#picture_hero {
  margin: 0;
  padding: 0;
}

#work img {
  margin: 0 0 1.5em;
  border-radius: 8px;
}

.row img {
  margin: 2em 0 0;
}

.issue {
  margin: 4em 0 8em;
}

/* unvisited link */
a {
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: rgba(49, 50, 49, 1);
  text-decoration: underline;
}

/* mouse over link */
a:hover,
a:focus {
  text-decoration: none;
  color: rgba(49, 50, 49, 1);
  background: none;
}

/* selected link */
a:active {
  color: rgba(49, 50, 49, 1);
  background-color: none;
}

/* Buttons */
a.button {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(49, 50, 49, 1);
  color: white;
  font-weight: 600;
  padding: 14px 24px;
  margin: 0.8em 0 0 -4px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.button:visited {
  color: none;
  text-decoration: none;
}

.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
  background-color: rgba(252, 82, 82, 1);
  opacity: 0.8;
}

.button:active {
  color: white;
  text-decoration: none;
  background-color: rgba(252, 82, 82, 0.5);
}

.button.contact {
  background-color: transparent;
  color: rgba(252, 82, 82, 1);
  text-transform: uppercase;
  border: 2px solid rgba(252, 82, 82, 1);
}

.button.contact:visited {
  background-color: transparent;
  color: rgba(85, 173, 125, 1);
  text-decoration: none;
}

.button.contact:hover,
.button.contact:focus {
  background-color: rgba(252, 82, 82, 0.3);
  color: rgba(252, 82, 82, 1);
}

.button.contact:active {
  background-color: none;
  color: rgba(85, 173, 125, 1);
  text-decoration: none;
}

/* Layout project Overview */

.container {
  padding: 30px;
}

#project_overview {
  background: rgba(253, 253, 253, 1);
}

#project_overview .row {
  padding: 0;
}

#project_overview h3 {
  font-size: 1.2em;
  margin: 2em 0 0;
}

#project_overview li {
  margin: 0;
}

#project_overview ul {
  padding: 0 0 0 15px;
  margin: 0.5em 0 0;
}

#project_overview p {
  margin: 0 0 1em;
}

#the_context {
  background: rgba(240, 240, 240, 1);
}

#the_challenge {
  background: rgba(253, 253, 253, 1);
}

#Competitive_analysis {
  background: rgba(240, 240, 240, 1);
}

#user_stories {
  background: rgba(240, 240, 240, 1);
}

#ideation {
  background: rgba(240, 240, 240, 1);
}

#wireframing_prototypig {
  background: rgba(240, 240, 240, 1);
}

#usability_testing {
  background: rgba(253, 253, 253, 1);
}

#final_thoughts {
  background: rgba(240, 240, 240, 1);
}

/* Layout styling */

#project_steps {
  background: rgba(253, 253, 253, 1);
}

#inspiration {
  background: rgba(240, 240, 240, 1);
}

#conceptualization {
  background: rgba(253, 253, 253, 1);
}

#iteration {
  background: rgba(240, 240, 240, 1);
}

#showcase {
  background: rgba(253, 253, 253, 1);
}

#conclusion {
  background: rgba(240, 240, 240, 1);
}

#problem_statement {
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 1.2em;
  line-height: 145%;
  font-weight: 400;
  margin: 5em 0 3em;
  padding: 0.5em 0.5em 1em;
  border-bottom: 5px solid rgba(252, 82, 82, 1);
  border-top: 5px solid rgba(252, 82, 82, 1);
}

#problem_statement h4 {
  font-size: 1.2em;
  margin: 2em 0 1em;
}

#enhanced {
  background: none;
  text-align: left;
  font-family: "Nunito sans", sans-serif;
  margin: 5em 3em 4em;
  padding: 0;
  border-radius: 8px;
  box-shadow: none;
}

#enhanced h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
  margin: 2em 0 0.5em;
  text-decoration: underline 4px rgba(252, 82, 82, 1);
  text-underline-offset: 4px;
}

#enhanced h5 {
  font-size: 0.8em;
}

#enhanced p {
  margin: 0.7em 0 0;
}

#enhanced ul {
  padding: 0;
}

#enhanced_2 {
  background: white;
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 1em;
  line-height: 145%;
  font-weight: 600;
  margin: 3em 0;
  padding: 1.8em 2.5em 0.5em;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 0 rgb(50 50 50 / 0%);
}

#enhanced_challenge {
  background: rgba(252, 82, 82, 0.2);
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 1.2em;
  line-height: 140%;
  font-weight: 600;
  margin: 2em 0;
  padding: 1.8em 1.6em 0.5em;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 0 rgb(50 50 50 / 0%);
}

#enhanced_challenge h4 {
  margin: 1em 0;
}

header {
  background-color: white;
  text-align: left;
  padding: 34px 0 24px;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(218, 218, 218, 0.1);
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6em;
  padding-right: 0.3em;
}

header a:hover,
header a:focus {
  background-color: transparent;
}

.logo {
  max-width: 150px;
  margin: 1.5em 0 0.4em;
}

/* Navigation Bar Styling */
header .container {
  padding: 0 30px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 5em 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 1.5em 0;
  border-top: 2px solid rgba(106, 123, 118, 0.1);
}

.navtoggle.responsive li:last-child {
  padding: 0;
  border-top: none;
}

nav > ul {
  list-style-type: none;
  margin: 0 0 2px;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: sentence-case;
  font-size: 1.1em;
  font-weight: 600;
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: rgba(49, 50, 49, 1);
  text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: rgba(49, 50, 49, 1);
  text-decoration-line: underline;
}

nav > ul > li > a:active {
  color: rgba(49, 50, 49, 1);
}

/* Main Section */
main {
  padding-top: 81px;
}

/* Hero Section Styling */
#hero {
  background-color: rgba(246, 246, 246, 1);
  display: inline-block;
  width: 100%;
  padding: 5em 0 3em;
}

#hero .container {
  padding: 0 30px;
}

#hero h1 {
  text-align: left;
  font-size: 1.8em;
}

#project_hero {
  background: rgba(49, 50, 49, 1);
  color: white;
  padding: 0;
}

#project_hero h1 {
  text-align: left;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 115%;
}

#project_hero p {
  font-size: 1.2rem;
  line-height: 140%;
}

/* Work Section Styling */
#work .container {
  padding: 0 30px;
}

#work .row {
  padding: 3em 0;
}

#work .row:nth-child(odd) {
  background: none;
}

.project_role {
  color: rgba(49, 50, 49, 0.5);
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 0.5em;
}

/* About me page */
#about_me_content .row {
  margin: 0;
  padding: 0 0 1em;
}

#about_me_content .column {
  margin: 30px 0 80px;
}

#about_me_content .column {
  margin: 30px 0 80px;
}

main .column ul {
  margin: 1em 0 2em;
}

main .column li {
  margin: 2em 0;
}

#about_me_content h2 {
  margin: 0 0 1em;
}

/* Projects' page */
.row {
  padding: 1em 0 2em;
}

#work .row:last-child {
  margin-bottom: 0;
}

main .row li {
  margin: 0 0 1.2em;
}

/* footer section Styling */
footer {
  color: white;
  background-color: rgba(49, 50, 49, 1);
  padding: 40px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 20px 0;
}

footer li {
  display: inline-block;
  margin: 10px;
}

/* Social media styling */
footer svg {
  width: 3em;
  fill: white;
}

footer a:hover svg {
  fill: rgba(252, 82, 82, 1);
}

footer a:hover,
footer a:focus {
  background-color: transparent;
}

footer h2 {
  margin: 1em 0 0.6em;
  color: white;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 2.5em;
  font-variant: normal;
}

footer p {
  font-size: 1.2em;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .logo {
    max-width: 150px;
    margin: 1em 0;
  }

  body {
    font-size: 16px;
    line-height: 160%;
  }

  header {
    text-align: unset;
    padding: 15px 0 10px;
  }

  #logo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    margin: 0.85em 0 0;
    position: absolute;
  }

  nav {
    width: auto;
    float: right;
    margin: 1em;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    font-size: 0.9em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding: 82.4px 0 0;
  }

  .row {
    padding: 2em 0;
  }

  .row img {
    margin: 1em 0 0;
  }

  #work h2 {
    margin: 2em 0 0;
  }

  .project_role {
    font-size: 0.9em;
    margin-top: 0.5em;
  }

  .container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }

  #about_me_title .container {
    padding: 40px 40px 0;
  }

  #about_me_content .row {
    margin: 0;
    padding: 0;
  }

  #about_me_content .column {
    margin: 0;
    padding: 3em 0;
  }

  h2 {
    font-size: 1.5em;
    margin: 1em 0 1.3em;
  }

  h3 {
    font-size: 2.8em;
    margin: 1.6em 0 0.5em;
  }

  h4 {
    margin: 4em 0 1em;
  }

  p {
    margin: 0 0 1.5em;
    line-height: 155%;
  }

  a.button {
    font-size: ;
    margin: ;
    padding: 1em 2em ;
  }

  #hero {
    padding: 10em 0 7em;
  }

  #hero h1 {
    text-align: left;
    font-size: 2.6em;
  }

  .hero h1 {
    text-align: left;
    margin: 0.5em 1em 0.5em 0;
  }

  .hero p {
    text-align: left;
    margin-right: 10em;
  }

  footer h2 {
    font-size: 2.3em;
  }

  footer ul {
    margin: 0;
  }

  footer .row {
    padding: 1em;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 3em 0 0;
  }

  #project_hero .column_2 {
    padding: 0 40px 0 0;
  }

  #problem_statement {
    text-align: center;
    font-family: "Source Serif Pro", serif;
    font-size: 1.3em;
    line-height: 145%;
    font-weight: 400;
    margin: 6em 0 3em;
    padding: 0 1em 1.2em;
  }

  #problem_statement h4 {
    font-size: 1em;
    margin: 2.3em 0 1.3em;
  }

  #enhanced {
    padding: 0;
    margin: 3em 10em 2em;
  }

  #enhanced_2 {
    font-size: 1.3em;
    line-height: 145%;
    font-weight: 600;
    margin: 3em 0;
    padding: 1.2em 2.5em 2.5em;
  }

  #enhanced h4 {
    font-size: 1em;
    font-weight: 800;
    line-height: 2em;
    text-align: left;
    margin: 1em 0 0.3em;
    text-decoration: underline 4px rgba(252, 82, 82, 1);
    text-underline-offset: 4px;
  }

  #enhanced_2 p {
    margin: 1.5em 0 0;
  }

  #enhanced_challenge {
    font-size: 1.2em;
    line-height: 145%;
    font-weight: 400;
    margin: 2em 0;
    padding: 1.8em 4em 1em;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
    line-height: 160%;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    margin: 1em 0;
  }

  h4 {
    font-size: 1.3em;
  }

  main {
    padding: 80px 0 0;
  }

  header .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  main .row li {
    margin: 2em 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 2em 0 0;
  }

  .column_2 {
    padding: 0 30px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #enhanced h4 {
    font-size: 1.3em;
  }

}

@media only screen and (min-width: 1440px) {
  header .container {
    max-width: 1280px;
  }
}
